{% extends 'base.html' %}
{% block nav-item-inventory %}active{% endblock %}

{% block head %}
    <title>Inventory</title>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="container-fluid row">
            <h1>Ingredient Inventory</h1>

            <div>
                <form action="{% url 'edit_inventory' %}" class="form-check mt-3">
                    <input type="submit" value="Edit" class="btn btn-outline-secondary btn-sm"/>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
