{% extends 'base.html' %}
{% load static %}
{% block nav-item-my-recipes %}active{% endblock %}

{% block head %}
    <title>Saved recipes</title>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-4">
                <h1>Saved Recipes</h1>
            </div>

            <div>
                <form action="{% url 'edit_list' %}" class="form-check mt-3">
                    <input type="submit" value="Edit" class="btn btn-outline-secondary btn-sm"/>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        {% for recipe in recipes %}
            <div class="row mt-3">
                <div class="col-4">
                    <img src="{% static '/media/' %}{{recipe.title}}.jpg" alt="{{ recipe.title }} photo" width="95%">
                </div>

                <div>
                    <h2 class="mt-1"><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title|title }}</a></h2>
                    <ul>
                        {% for ingredient in recipe.ingredients.all %}
                            <li>{{ ingredient.name }}</li>
                        {% endfor %}
                    </ul> 
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
