<!DOCTYPE html>

{% load static %}

<html>

    <body>

<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Recipes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/recipe.css' %}">
</head>
<body>
    <form action = "{% url 'search' %}" method="GET" class="search-bar">{% csrf_token %}
        <input type="text" name="q" placeholder="Search">
        <input type="submit" value="Search">
    </form>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
