{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
	<title>Edit
		{% if 'saved/' in request.path %} 
			recipes
		{% else %}
			inventory
		{% endif %}
	</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> 
    {{ form.media.css }}
{% endblock %}

{% block content %}
	<div class="container-fluid mt-3"><h1>Edit
		{% if 'saved/' in request.path %}
			Saved Recipes
		{% else %}
			Ingredient Inventory
		{% endif %}
	</h1></div>

	<form method="post" action="" class="form-check">{% csrf_token %}
		{{ form_delete| crispy }}
		<input type="submit" value="Delete" name="Delete" class="btn btn-outline-secondary btn-sm"/>
	</form>
	<form method="post" action="" class="form-check mt-3">{% csrf_token %}
		{{ form_add| crispy }}
		<input type="submit" value="Add" name="Add" class="btn btn-outline-secondary btn-sm"/>
	</form>
	{{ form.media.js }}
{% endblock %}
